<title>Create Topic</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>Forum</cite></a>
        <a lay-href="/forum/topic/">Topic</a>
        <a><cite>new</cite></a>
    </div>
</div>

<div class="layui-fluid" id="LAY-forum-topic-new">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form" id="LAY-forum-topic-new-form" lay-filter="LAY-forum-topic-new-form">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>Topic</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">Subject</label>
                    <div class="layui-input-block">
                        <input type="text" name="tsubject" lay-verify="required" placeholder="" autocomplete="off"
                            class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Receiver</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="recipient_isFriends" title="All Friends" lay-skin="primary">
                        <input type="checkbox" name="recipient_isHood" title="My Hood" lay-skin="primary">
                        <input type="checkbox" name="recipient_isBlock" title="My Block" lay-skin="primary">
                    </div>
                    <script type="text/html" template lay-url="/api/jwt/forum/topic/new/friendAndNeighborList"
                        lay-done="done_forum_topic_new(d);">
                        <div class="layui-input-block">
                            <select name="recipient_uid" lay-verify="" lay-search>
                                <option value="">Send to your friend or neighbor</option>
                                {{# for(let i = 0; i < d.data.length; i++){ }}
                                <option value="{{ d.data[i].uid }}">
                                    {{ d.data[i].ufirstname }} {{ d.data[i].ulastname }}
                                </option>
                                {{# } }}
                            </select>
                        </div>
                    </script>
                </div>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>Initial Message</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">Title</label>
                    <div class="layui-input-block">
                        <input type="text" name="mtitle" lay-verify="required" placeholder="" autocomplete="off"
                            class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Content</label>
                    <div class="layui-input-block">
                        <textarea id="LAY-forum-topic-new-content" style="display: none;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="LAY-forum-topic-new-form-submit">submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function done_forum_topic_new(d) {
        layui.use(['form'], function () {
            var $ = layui.$
                , form = layui.form;
            form.render(null, 'LAY-forum-topic-new-form');
        });
    }

    layui.use(['admin', 'table', 'util', 'form', 'upload', 'layedit'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form;
        var layedit = layui.layedit;
        var index = layedit.build('LAY-forum-topic-new-content', {
            tool: ['strong', 'italic', 'underline', 'del', '|', 'left', 'center', 'right']
        });
        // id, tsubject, recipient_uid, is_block, is_hood, is_friends, mtitle, mbody
        form.on('submit(LAY-forum-topic-new-form-submit)', function (data) {
            const field = data.field;
            admin.req({
                url: '/api/jwt/forum/topic/new/submit'
                , type: 'POST'
                , data: { 
                    tsubject: field.tsubject,
                    recipient_uid: field.recipient_uid == "" ? 0 : field.recipient_uid,
                    is_block: field.recipient_isBlock ? 1 : 0,
                    is_hood: field.recipient_isHood ? 1 : 0,
                    is_friends: field.recipient_isFriends ? 1 : 0,
                    mtitle: field.mtitle,
                    mbody: layedit.getContent(index)
                }
                , success: function (res) {
                    location.hash = '/forum/topic/detail/id=' + res.data.tid;
                }
            });
            return false;
        });

    });
</script>