<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>


<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
  <div class="layadmin-user-login-main">
    <div class="layadmin-user-login-box layadmin-user-login-header">
      <h2>Nextdoor</h2>
    </div>
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <input type="text" name="email" id="LAY-user-login-cellphone" lay-verify="required" placeholder="Email Address"
          class="layui-input">
      </div>
      <div class="layui-row layui-col-space5">
        <div class="layui-col-xs6">
          <div class="layui-form-item">
            <input type="text" name="firstname" id="LAY-user-login-firstname" lay-verify="required"
              placeholder="First Name" class="layui-input">
          </div>
        </div>
        <div class="layui-col-xs6">
          <div class="layui-form-item">
            <input type="text" name="lastname" id="LAY-user-login-lastname" lay-verify="required"
              placeholder="Last Name" class="layui-input">
          </div>
        </div>
      </div>
      <div class="layui-form-item" style="padding-left: 20px;">
        <input type="radio" name="gender" value="female" title="Female" checked="">
        <input type="radio" name="gender" value="male" title="Male">
      </div>
      <div class="layui-form-item">
        <input type="password" name="pwd" id="LAY-user-login-password" lay-verify="required" placeholder="Password"
          class="layui-input">
      </div>
      <div class="layui-form-item">
        <input type="password" name="repwd" id="LAY-user-login-repass" lay-verify="required"
          placeholder="Confirm Password" class="layui-input">
      </div>
      <div class="layui-form-item">
        <input id="hname" type="text" name="hname" lay-verify="required" placeholder="Hood" autocomplete="off"
          class="layui-input" value="" readonly>
      </div>
      <div class="layui-form-item">
        <input id="bname" type="text" name="bname" lay-verify="required" placeholder="Block" autocomplete="off"
          class="layui-input" value="" readonly>
      </div>
      <div class="layui-form-item">
        <input id="uaddr_name" type="text" name="uaddr_name" lay-verify="required" placeholder="Address"
          autocomplete="off" class="layui-input" value="" readonly>
      </div>
      <div class="layui-form-item">
        <input type="text" name="intro" autocomplete="off" id="LAY-user-login-intro" lay-verify="required"
          placeholder="Introduct yourself" class="layui-input">
      </div>
      <input type="hidden" id="bid" name="bid">
      <input type="hidden" id="uaddr_lat" name="uaddr_lat">
      <input type="hidden" id="uaddr_lng" name="uaddr_lng">
      <div class="layui-form-item">
        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">CREATE ACCOUNT</button>
      </div>
    </div>
  </div>
  <div class="layui-card" style="width: 80%;margin: 0 auto;">
    <div class="layui-card-body" style="height: 500px;">
      <div id="map" style="height: 100%;"></div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'form'], function () {
    var $ = layui.$
      , admin = layui.admin
      , form = layui.form;
    admin.req({
      url: '/api/register/block/hood/list'
      , type: 'GET'
      , data: {}
      , done: function (res) {
        setHoodArea(res.data);
      }
    });
    admin.req({
      url: '/api/register/block/list'
      , type: 'GET'
      , data: {}
      , done: function (res) {
        setBlockArea(res.data);
      }
    });
    let map;
    let infoWindow = new google.maps.InfoWindow();
    let marker = null;
    let geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 40.694177, lng: -73.986596 },
      zoom: 14
    });

    google.maps.event.addListener(map, 'click', function (event) {
      layer.msg("sorry, you cannot choose this area");
    });

    function setHoodArea(hoodList) {
      var hoodAreaList = [];
      for (i in hoodList) {
        var hood = hoodList[i];
        hoodAreaList[i] = new google.maps.Rectangle({
          bounds: {
            north: hood.hne_lat,
            south: hood.hsw_lat,
            east: hood.hne_lng,
            west: hood.hsw_lng
          },
          strokeColor: '#009688',
          strokeOpacity: 0.4,
          strokeWeight: 1,
          fillColor: '#009688',
          fillOpacity: 0.15,
          map: map
        });
        hoodAreaList[i].hood = hood;
        hoodAreaList[i].addListener('click', function (event) {
          infoWindow.setContent(this.hood.hname);
          infoWindow.setPosition(this.getBounds().getNorthEast());
          infoWindow.open(map);
          layer.msg("sorry, you cannot choose this area");
        });
      }
    }

    function setBlockArea(blockList) {
      var blockAreaList = [];
      for (i in blockList) {
        var block = blockList[i];
        blockAreaList[i] = new google.maps.Rectangle({
          bounds: {
            north: block.bne_lat,
            south: block.bsw_lat,
            east: block.bne_lng,
            west: block.bsw_lng
          },
          strokeColor: '#1E9FFF',
          strokeOpacity: 0.4,
          strokeWeight: 1,
          fillColor: '#1E9FFF',
          fillOpacity: 0.15,
          map: map
        });
        blockAreaList[i].block = block;
        blockAreaList[i].addListener('click', function (event) {
          infoWindow.setContent(this.block.hname + ' ' + this.block.bname);
          infoWindow.setPosition(this.getBounds().getNorthEast());
          infoWindow.open(map);

          let lat = event.latLng.lat();
          let lng = event.latLng.lng();

          // remove previous Marker
          if (marker != null) {
            marker.setMap(null);
          }
          // init Marker instance
          marker = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            title: "Hello World!"
          });
          // attach Marker instance to Map instance
          marker.setMap(map);

          geocoder.geocode({
            'latLng': event.latLng
          }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                document.getElementById('uaddr_name').value = results[0].formatted_address;
              }
            }
          });

          document.getElementById('uaddr_lat').value = lat;
          document.getElementById('uaddr_lng').value = lng;
          document.getElementById('bid').value = this.block.bid;
          document.getElementById('hname').value = this.block.hname;
          document.getElementById('bname').value = this.block.bname;

        });
      }
    }

  });


</script>

<script>
  layui.use(['admin', 'form', 'user'], function () {
    var $ = layui.$
      , setter = layui.setter
      , admin = layui.admin
      , form = layui.form
      , router = layui.router();

    form.render();

    form.on('submit(LAY-user-reg-submit)', function (obj) {
      var field = obj.field;

      if (field.pwd !== field.repwd) {
        return layer.msg('Passwords entered do not match.');
      }

      admin.req({
        url: '/api/register/create'
        , type: "POST"
        , dataType: "JSON"
        , data: field
        , done: function (res) {
          layer.msg('Register Success!', {
            offset: '15px'
            , icon: 1
            , time: 1000
          }, function () {
            location.hash = '/user/login';
          });
        }
      });

      return false;
    });
  });
</script>