<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>


<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
  <div class="layadmin-user-login-main">
    <div class="layadmin-user-login-box layadmin-user-login-header">
      <h2>Nextdoor</h2>
    </div>
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <input type="text" name="email" id="LAY-user-login-cellphone" lay-verify="required" placeholder="Email Address"
          class="layui-input">
      </div>
      <div class="layui-row layui-col-space5">
        <div class="layui-col-xs6">
          <div class="layui-form-item">
            <input type="text" name="firstname" id="LAY-user-login-firstname" lay-verify="required"
              placeholder="First Name" class="layui-input">
          </div>
        </div>
        <div class="layui-col-xs6">
          <div class="layui-form-item">
            <input type="text" name="lastname" id="LAY-user-login-lastname" lay-verify="required"
              placeholder="Last Name" class="layui-input">
          </div>
        </div>
      </div>
      <div class="layui-form-item" style="padding-left: 20px;">
        <input type="radio" name="gender" value="female" title="Female" checked="">
        <input type="radio" name="gender" value="male" title="Male">
        <input type="radio" name="gender" value="other" title="Other">
      </div>
      <div class="layui-form-item">
        <input type="password" name="pwd" id="LAY-user-login-password" lay-verify="required" placeholder="Password"
          class="layui-input">
      </div>
      <div class="layui-form-item">
        <input type="password" name="repwd" id="LAY-user-login-repass" lay-verify="required"
          placeholder="Confirm Password" class="layui-input">
      </div>
      <div class="layui-form-item">
        <input list="blockList" type="text" name="addr" autocomplete="off" id="LAY-user-login-addr"
          lay-verify="required" placeholder="Join a block" class="layui-input">
        <datalist id="blockList">
        </datalist>
      </div>
      <div class="layui-form-item">
        <input type="text" name="intro" autocomplete="off" id="LAY-user-login-intro" lay-verify="required"
          placeholder="Introduct yourself" class="layui-input">
      </div>
      <div class="layui-form-item">
        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">CREATE ACCOUNT</button>
      </div>
    </div>
  </div>
</div>

<script>

  $("#LAY-user-login-addr").bind("keyup", function (event) {
    if (event.keyCode == 38 || event.keyCode == 40) {
      return false;
    }
    var value = $("#LAY-user-login-addr").val();
    info(value);
  })

  function info(value) {
    var url = "/api/register/block/list";
    var data = {
      name: value
    }
    $.ajax({
      url: url,
      data: data,
      type: "POST",
      dataType: "JSON",
      success: function (result) {
        var a = result.blockList;
        var list = "";
        for (var i in a) {
          var l = a[i].bname + " - " + a[i].hname;
          list += "<option>" + l + "</option>";
        }
        $("#blockList").html(list);
      },
      error: function () {
        console.log("error");
      }
    })
  }
</script>

<script>
  layui.use(['admin', 'form', 'user'], function () {
    var $ = layui.$
      , setter = layui.setter
      , admin = layui.admin
      , form = layui.form
      , router = layui.router();

    form.render();

    form.on('submit(LAY-user-reg-submit)', function (obj) {
      var field = obj.field;

      if (field.pwd !== field.repwd) {
        return layer.msg('Passwords entered do not match.');
      }

      admin.req({
        url: '/api/register/create'
        , type: "POST"
        , dataType: "JSON"
        , data: field
        , done: function (res) {
          layer.msg('Register Success!', {
            offset: '15px'
            , icon: 1
            , time: 1000
          }, function () {
            // location.hash = '/user/login';
          });
        }
      });

      return false;
    });
  });
</script>