<title>Change Password</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>Account</cite></a>
        <a><cite>Change Password</cite></a>
    </div>
</div>

<div class="layui-fluid" id="LAY-set-account-password">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form" id="LAY-set-account-password-form" lay-filter="LAY-set-account-password-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">Old Password</label>
                    <div class="layui-input-inline">
                        <input type="password" name="upwd" lay-verify="required" placeholder="" autocomplete="off"
                            class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">New Password</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newpwd" lay-verify="required" placeholder="" autocomplete="off"
                            class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="LAY-set-account-password-form-submit">submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    layui.use(['admin', 'table', 'util', 'form', 'upload', 'layedit'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form;
        var layedit = layui.layedit;
        form.on('submit(LAY-set-account-password-form-submit)', function (data) {
            let field = data.field;
            admin.req({
                url: '/api/jwt/setting/password/edit'
                , type: 'POST'
                , data: {
                    upwd: field.upwd,
                    newpwd: field.newpwd,
                }
                , done: function (res) {
                    layer.msg('Change Successful!');
                }
            });
            return false;
        });

    });
</script>