<style type="text/css">
    #LAY-forum-topic-message-detail-list .layui-table-cell {
        height: auto;
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
    }

    #LAY-forum-topic-message-detail-list hr {
        margin: 5px 0;
    }
</style>

<title>Topics</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>Forum</cite></a>
        <a lay-href="/forum/topic/">Topic</a>
        <a><cite>Messages</cite></a>
    </div>
</div>

<div class="layui-fluid" id="LAY-forum-topic-message-detail-list">
    <div class="layui-card">
        <table id="LAY-forum-topic-message-detail-list-table" lay-filter="LAY-forum-topic-message-detail-list-table">
        </table>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" template>
                <button class="layui-btn layui-btn-sm" lay-href="/forum/message/reply/id={{ layui.router().search.id }}">
                    <i class="layui-icon layui-icon-add-1"></i>Reply
                </button>
            </script>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'util', 'form', 'laydate'], function () {
        var $ = layui.$
            , admin = layui.admin
            , table = layui.table
            , view = layui.view
            , form = layui.form
            , element = layui.element;
        var laydate = layui.laydate;
        var router = layui.router();

        var tplName = function (d) {

            let res = '<b style="font-size:16px;color:#050505;">' + d.mtitle + '</b>'
                + '<span style="float:right;font-size:12px;color:rgb(120, 124, 126);">Posted by ' + d.ufirstname + " " + d.ulastname + " " + moment(d.createAt).fromNow() + '</span>'
                + '<hr style="width:50%;"><span style="font-size:12px;">' + d.mbody + '</span>';
            if (d.LAY_INDEX == 1) {
                res = '<b style="font-size:16px;color:#050505;">' + d.mtitle + '</b><i style="margin-left:10px;">Initial Message</i>'
                    + '<span style="float:right;font-size:12px;color:rgb(120, 124, 126);">Posted by ' + d.ufirstname + " " + d.ulastname + " " + moment(d.createAt).fromNow() + '</span>'
                    + '<hr style="width:50%;"><span style="font-size:12px;">' + d.mbody + '</span>';
            }

            return res;
        };

        let LAYForumTopicListTable = table.render({
            elem: '#LAY-forum-topic-message-detail-list-table'
            , url: '/api/jwt/forum/thread/detail'
            , cols: [[
                { field: 'mtitle', title: 'Content', templet: tplName }
            ]]
            , limit: 10
            , limits: [10, 15, 20, 25, 30]
            , text: 'Ops...'
            , where: {
                thid: router.search.id,
                access_token: layui.data('layuiAdmin').access_token
            }
            , page: getTablePageAndLimit('LAY-forum-topic-message-detail-list-table')
            , done: function (res, curr) {
                setTablePageAndLimit(res, curr, LAYForumTopicListTable.config);
            }
        });
    });
</script>